#map {
    position:absolute;
    top:40px;
    bottom:0;
    width:60%;
}
 
#travel-div {
    position:absolute;
    padding-right: 1em;
    top:40px;
    bottom:0;
    width:38%;
    margin: 1em 62%;
    overflow-y: scroll;
}
 
@media screen and (max-width: 768px) {
   #map { 
    height:50%;
    width:100%;
  }
  #travel-div {
    padding-top: 1em;
    margin: 5%;
    top: 55%;
    height: 50%;
    width: 95%;
  }
}